section.lead{
    width: 100%;
    min-height: 85vh;
    background: #f4f6f7;
    padding-left: 95px;
    padding-right: 95px;
}

.leaditem{
    margin: 20px 0;
    background: #e2e1e1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lead a{
    font-size: 19px;
}

.leaditem span{
    font-size: 16px;
    margin: 10px;
}

.leaditem i{
    color:#007bff;
}

.leaditem a{
    font-size: 16px;
    margin-left: 20px;
}