{% extends "base.html" %}



{% block content %}
    <section class="lear_area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-8">
                    <div class="section-title mt-5">
                        <h3 class="contact-title title text-center position-relative">Create a new Lead</h3>
                    </div>
                    <div class="contact-form form-style-four mx-5">
                        <form method='post' class='mx-5'>
                        {% csrf_token %}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-input mt-3">
                                        <label>Full Name</label>
                                        <div class="input-items default">
                                            <i class="lni lni-user"></i>
                                            {{form.name}}
                                        </div>
                                    </div> <!-- form input -->
                                </div>
                                
                                 <div class="col-md-12">
                                    <div class="form-input mt-3">
                                        <label>Phone Number</label>
                                        <div class="input-items default">
                                            <i class="lni lni-phone"></i>
                                            {{form.phone_number}}
                                            {% comment %} <input type="text" placeholder="01234567890"> {% endcomment %}
                                        </div>
                                    </div> <!-- form input -->
                                </div>

                                <div class="col-md-12">
                                    <div class="form-input mt-3">
                                        <label>Age</label>
                                        <div class="input-items default">
                                            <i class="lni lni-spiner-solid"></i>
                                            {{form.age}}
                                        </div>
                                    </div> <!-- form input -->
                                </div>
                               

                                <div class="col-md-12">
                                    <div class="form-input mt-3">
                                        <label>Agent</label>
                                        <div class="input-items default">
                                           <i class="lni lni-offer"></i>
                                            {{form.agent}}
                                            {% comment %} <input type="text" placeholder="01234567890"> {% endcomment %}
                                        </div>
                                    </div> <!-- form input -->
                                </div>
                               
                                <div class="col-md-12">
                                    <div class="single-form pt-25 mt-5">
                                        <div class="input-form rounded-buttons">
                                            <button class="main-btn rounded-three" type="submit">Create</button>
                                        </div>
                                    </div> <!-- single form -->
                                </div>
                            </div> <!-- row -->
                        </form>
                    </div> <!-- contact form -->
                </div>
 
            </div> <!-- row -->
        </div> <!-- container -->
    </section>
    
{% endblock content %}