.header-area{
    width: 100%;
    min-height: 90px;
    height: 15vh;
    background: #005ad5;
    z-index: 1;
   
}

.rounded-buttons .rounded-one {
    border-color: #fff;
    color: #fff !important;
}

.rounded-buttons .rounded-one :hover{
    border-color:#0067f4 ;
    background: #fff !important;
    color: #fff;
}

.collapse{
    display: block;
}

.navbar-area.height{
    min-height: 55vh;
}

.navbar-area.navbar-one .navbar .navbar-collapse.show{
    opacity: 1;
}

.section-title{
    margin-bottom: 60px;
}

.lear_area{
    background: #fff;
    height: 100vh;
    z-index: 99;
}

.detailBox{
    margin: 15px 0;
}

.contact-title::before, .contact-title::after{
    position: absolute;
    content: '';
    width: 8px;
    height: 4px;
    background-color: #2bdbdc;
    left: 50%;
    margin: 0 2px;
    bottom: 14px;
    opacity: 1;
    top: 50px;
    transition: all 0.3s ease-out 0s;
}


.contact-title::after{
    left: auto;
    right:50%;
   
}

.services-content{
    margin-bottom: 25px;
}

section.contact-area{
    min-height: 100vh;
    background: #fff;
}

.contact-form .single-form .input-form .main-btn{
    width: 200px;
}

.footer-area{
    position: sticky;
    bottom: 0;
    background: #212529;
    z-index: -1;
}

.footer-one .footer-widget .footer-link ul li a, .footer-one .footer-widget .footer-support span, .footer-one .footer-copyright .copyright .social li a{
    color: #fff;
}

.footer-one .footer-widget .footer-title{
    color:#bfb5b5c7;
}