{% load static %}
<section class="header-area header-one mb-100">
  <div class="navbar-area navbar-one navbar-transparent">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="#">
              <img src="{% static 'assets/images/logo-4.svg' %}" alt="Logo" />
            </a>

            <button
              class="navbar-toggler toogler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarOne"
              aria-controls="navbarOne"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="toggler-icon"></span>
              <span class="toggler-icon"></span>
              <span class="toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse sub-menu-bar" id="navbarOne">
              <ul class="navbar-nav pl-5">
                <li class="nav-item">
                  <a href="{% url 'home' %}">Home</a>
                </li>
                {% if request.user.is_authenticated %}
                <li class="nav-item">
                  <a href="{% url 'lead:leadPage' %}">Lead</a>
                </li>

                <li class="nav-item">
                  <a href="{% url 'agents:agentPage' %}">Agents</a>
                </li>
                {% endif %}
                <li class="nav-item">
                  <a href="#">About</a>
                </li>
                <li class="nav-item">
                  <a href="#">Resources</a>
                </li>
                <li class="nav-item">
                  <a href="#">CONTACT</a>
                </li>
              </ul>
            </div>

            <div class="navbar-btn d-none d-sm-inline-block">
              <ul>
                {% if request.user.is_authenticated %}
                <li>
                  <a
                    class="light"
                    href="{% url 'logout' %}?next={% url 'login' %}"
                    >Sign Out</a
                  >
                </li>

                {% else %}
                <li>
                  <a class="light mr-3 px-4" href="{% url 'login' %}"
                    >Sign In</a
                  >
                </li>
                <li>
                  <a class="solid px-4" href="{% url 'signup' %}">Sign Up</a>
                </li>
                {% endif %}
              </ul>
            </div>
          </nav>
          <!-- navbar -->
        </div>
      </div>
      <!-- row -->
    </div>
    <!-- container -->
  </div>
  
</section>
